.DS_Store
node_modules/
/dist/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
/tests/unit/coverage/
/tests/e2e/screenshots/
/tests/e2e/videos/
.env.local
.env.*.local
env/local.*
env/*.local


# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
.tern-port
