$light-grey: #ecf0f1;
$dark-grey: #4a4a4a;
$purple: #4b0472;
$light-purple: rgba(75, 4, 114, 0.6);
$white: #ecf0f1;
$dark-blue: #2c3e50;

$primary: $purple;
$warning: #ffdd57;
$danger: #ff3860;
$success: #23d160;

$heading-font-family: 'Proxima Nova', 'Open Sans', 'Helvetica Neue', sans-serif;
