// $light-grey: #ecf0f1;
// $medium-grey: #808080;
// $dark-grey: #4a4a4a;
$light-grey: hsl(0, 0%, 95%);
$medium-grey: hsl(0, 0%, 50%);
$dark-grey: hsl(0, 0%, 30%);
$purple: #4b0472;
$light-purple: rgba(75, 4, 114, 0.6);
$white: #fff;
$dark-blue: #2c3e50;

$primary: $purple;
$warning: #ffdd57;
$danger: #ff3860;
$success: #1CCC70;

$heading-font-family: 'Proxima Nova', 'Open Sans', 'Helvetica Neue', sans-serif;
