// Transitions

%transition {
  transition: all 0.5s ease-in-out;
}

.fade-enter-active, .fade-leave-active {
  @extend %transition;
}
.fade-enter, .fade-leave-to {
  opacity: 0;
}

.slide-enter-active, .slide-leave-active {
  transition: height 0.5s ease-in;
}
.slide-enter, .slide-leave-to {
  height: 0;
}
